# SUV PREDICTION

In [27]:
import numpy as np
import matplotlib as plt
import pandas as pd
import sklearn
%matplotlib inline

In [12]:
dataset=pd.read_csv(r"C:\Users\sw\Desktop\logistic_regression_suv_purchase_prediction-master\SUV.csv")

In [15]:
dataset.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [17]:
x = dataset.iloc[:,[2,3]].values
y=dataset.iloc[:,4].values

In [20]:
# iloc function used for selection by index

In [29]:
from sklearn.model_selection import train_test_split

In [31]:
X_train,X_test ,Y_train,Y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [32]:
from sklearn.preprocessing import StandardScaler

In [39]:
sc= StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [40]:
from sklearn.linear_model import LogisticRegression

In [41]:
classifier = LogisticRegression(random_state=0)
classifier.fit(X_train,Y_train)

C:\Users\sw\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [42]:
y_pred=classifier.predict(X_test)

In [43]:
from sklearn.metrics import accuracy_score

In [45]:
accuracy_score(Y_test,y_pred)*100

88.0